
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "partials/_navbar";
@import "partials/_form";
@import "home_page";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#toast-container {
  .success-toast {
    background-color: #26a69a !important;
  }
  .error-toast {
    background-color: #c62828 !important;
  }

  .success-toast,
  .error-toast {
    font-size: 20px !important;
  }
}
